// AVATARS
.avatar {
	display: block;
	width: $avatar-size + 12px;
	height: $avatar-size + 12px;
	overflow: hidden;
	border-radius: 50%;
	border: 3px solid $border-color;
	padding: 3px;
	transition: box-shadow 0.4s;

	&:hover {
		cursor: pointer;
		box-shadow: 0px 0px 1.5rem rgba(0,0,0, 0.2);
	}

	&.primary {
		border-color: $primary-color;

		&:hover {
			box-shadow: 0px 0px 1.5rem rgba($primary-color, 0.4);
		}
	}

	&.accent {
		border-color: $accent-color;

		&:hover {
			box-shadow: 0px 0px 1.5rem rgba($accent-color, 0.4);
		}
	}

	img {
		width: $avatar-size;
		height: $avatar-size;
		border-radius: 50%;
	}

	&.small {
		width: $avatar-size + 6px;
		height: $avatar-size + 6px;
		border-width: 2px;
		padding: 1px;
		box-shadow: 0px 0px 1.5rem rgba(0,0,0, 0.2);
	}

	&.medium {
		$size-factor: 1.5;
		width: ($avatar-size * $size-factor) + 12px;
		height: ($avatar-size * $size-factor) + 12px;

		img {
			width: $avatar-size * $size-factor;
			height: $avatar-size * $size-factor;
		}
	}

	&.big {
		$size-factor: 3;
		width: ($avatar-size * $size-factor) + 12px;
		height: ($avatar-size * $size-factor) + 12px;

		img {
			width: $avatar-size * $size-factor;
			height: $avatar-size * $size-factor;
		}
	}
}

// CARDS
.card {
	display: block;
	position: relative;
	padding: 1.5rem 2rem;
	border: 1px solid rgba($border-color, 0.6);
	box-shadow: 0px 1rem 1.4rem rgba(0,0,0, 0.1);
	border-radius: 10px;
	margin-top: 1.4rem;

	&.empty {
		border: 2px dashed rgba($accent-color, 0.75);
		// background-color: rgba(#fff, 0.5);
		cursor: pointer;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 80px 80px;

		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.3s;

		&:hover{
			transform: translateY(-3px);
		}

		i {
			font-size: 3rem;
			display: block;
			margin-bottom: 0.75rem;
			opacity: 0.75;
		}

		span {
			font-weight: 700;
			font-size: 1.3rem;
			opacity: 0.75;
		}
	}

	&.card-primary{
		background-color: $primary-color;
		color: #FFF;
		border: none;
		box-shadow: 0px 1rem 1.4rem rgba($primary-color, 0.1);
	}

	&.card-accent{
		background-color: $accent-color;
		color: #FFF;
		border: none;
		box-shadow: 0px 1rem 1.4rem rgba($accent-color, 0.1);
	}

	[class^="button-"].card-action{
		position: absolute;
		right: 2rem;

		font-size: 1.8rem;
		padding: 0px !important;
		margin: 0px;
		width: 3.6rem;
		height: 3.6rem;
		border-radius: 50% !important;

		i{
			padding: 0px !important;
			margin: 0px !important;
		}
	}
}

// BUTTONS
[class^="button-"] {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $border-color;
	border: none;
	font-weight: 700;
	height: 2.4rem;
	min-height: 2.4rem;

	border-radius: 1.2em;
	border: none;
	padding: 2px 1.6rem;
	line-height: 1rem;
	color: lighten($text-color, 20);
	text-decoration: none !important;
	transition: 0.3s;
	outline: none !important;

	span {
		margin: 0px 0.4rem;
	}

	&:focus, &:active{ 
		border-color: $primary-color;
		box-shadow: 0px 0.4rem 1rem rgba(0,0,0, 0.1), 0 0 0 0.2rem lighten($primary-color, 20);	
	}

	&.rounded {
		padding: 0px !important;
		margin: 0px !important;
		width: 2.4rem;
		height: 2.4rem;
		border-radius: 50% !important;

		i {
			display: block;
			width: 1em;
			height: 1em;
			line-height: 1em;
		}
	}

	&:hover{
		box-shadow: 0px 0.4rem 1rem rgba(0,0,0, 0.1);
	}

	&.block {
		width: 100%;
		flex: 1;
	}	
}

.button-primary{
	background-color: $primary-color;
	color: #FFF;

	&:hover{
		background-color: lighten($primary-color, 10);
		box-shadow: 0px 0.4rem 1.4rem rgba($primary-color, 0.3);
		color: #FFF;
	}
}

.button-accent{
	background-color: $accent-color;
	color: #FFF;

	&:hover{
		background-color: lighten($accent-color, 10);
		box-shadow: 0px 0.4rem 1.4rem rgba($accent-color, 0.3);
		color: #FFF;
	}

	&:focus, &:active {
		box-shadow: 0px 0.4rem 1.4rem rgba($accent-color, 0.3), 0 0 0 0.2rem lighten($accent-color, 30);
	}
}

// SEPARATOR
.separator {
	display: block;
	margin: 1.8rem 0rem;
	width: 100%;
	height: 1px;
	max-width: 100px;
	background-color: lighten($border-color, 8);

	&.block {
		max-width: 100%;
	}
}

h3 + .separator, h4 + .separator {
	margin-top: 0rem;
}

// TABLES
.table-list{
	width: 100%;

	> thead {
		tr > th, tr > td{
			padding: 1rem 0.3rem;
			border-bottom: 1px dashed lighten($border-color, 10);
		}
		
		margin-bottom: 1rem;
	}

	> tbody {

		tr {
			&.clickable {
				cursor: pointer;
			}

			&:hover > th, &:hover > td {
				background-color: lighten($border-color, 12.5);
			}

			> th, > td {
				transition: 0.3s;
				padding: 0.4rem 0.3rem;

				&:first-child {
					border-radius: 0.5rem 0 0 0.5rem;
				}

				&:last-child {
					border-radius: 0 0.5rem 0.5rem 0;
				}
			}
		}
	}
}

// GRID
.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 1rem;
	grid-auto-rows: minmax(100px, auto);
	grid-auto-flow: dense;
}

// FEATURES

.feature {
	display: flex;
	justify-content: center;
	align-items: center;
	width: $feature-width;
	height: $feature-width;
	background-color: $default-color;
	color: $text-color;
	border-radius: $feature-width * 0.5;
	
	i {
		font-size: 1em;
		line-height: 1em;
		padding: 0px;
		margin: 0px;
		width: 1em;
		height: 1em;
	}

	&.primary {
		background-color: lighten($primary-color, 45);
		color: $primary-color;
	}

	&.accent {
		background-color: lighten($accent-color, 45);
		color: $accent-color;
	}

	&.square {
		border-radius: 0.4rem;
	}
}

.search-component {
	background-color: #FFF;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 6px 15px;
	border-radius: 40px;
	border: 1px solid rgba($border-color, 0.6);
	box-shadow: 0px 1rem 1.4rem rgba(0,0,0, 0.1);

	.form-group{
		flex: 1;
		border-right: 1px dashed rgba($border-color, 0.6);
		margin-bottom: 0px;
		padding-left: 1.2rem;
		padding-right: 1.2rem;

		&:nth-child(3) {
			border-right: 1px solid transparent !important;
		}
	}

	label{
		display: block;
		font-weight: 700;
		margin-bottom: 2px;
		text-transform: uppercase;
		font-size: 0.8rem;
	}

	input {
		border: none;
		border-bottom: 2px solid transparent;
		margin: 0px;
		width: 100%;
		opacity: 1;
		transition: 0.4s;
		outline: none;
		
		&:focus{
			border-bottom: 2px solid $link-color;
		}
	}
}