// AVATARS
.avatar {
	display: block;
	width: $avatar-size + 12px;
	height: $avatar-size + 12px;
	overflow: hidden;
	border-radius: 50%;
	border: 3px solid $border-color;
	padding: 3px;
	transition: box-shadow 0.4s;

	&:hover {
		box-shadow: 0px 0px 1.5rem rgba(0,0,0, 0.2);
	}

	&.primary {
		border-color: $primary-color;

		&:hover {
			box-shadow: 0px 0px 1.5rem rgba($primary-color, 0.4);
		}
	}

	&.accent {
		border-color: $accent-color;

		&:hover {
			box-shadow: 0px 0px 1.5rem rgba($accent-color, 0.4);
		}
	}

	img {
		width: $avatar-size;
		height: $avatar-size;
		border-radius: 50%;
	}

	&.small {
		width: $avatar-size + 6px;
		height: $avatar-size + 6px;
		border-width: 2px;
		padding: 1px;
		box-shadow: 0px 0px 1.5rem rgba(0,0,0, 0.2);
	}

	&.medium {
		$size-factor: 1.5;
		width: ($avatar-size * $size-factor) + 12px;
		height: ($avatar-size * $size-factor) + 12px;

		img {
			width: $avatar-size * $size-factor;
			height: $avatar-size * $size-factor;
		}
	}

	&.big {
		$size-factor: 3;
		width: ($avatar-size * $size-factor) + 12px;
		height: ($avatar-size * $size-factor) + 12px;

		img {
			width: $avatar-size * $size-factor;
			height: $avatar-size * $size-factor;
		}
	}
}

// CARDS
.card {
	padding: 1.5rem 2rem;
	border: 1px solid rgba($border-color, 0.6);
	box-shadow: 0px 1rem 1.4rem rgba(0,0,0, 0.1);
	border-radius: 10px;
	margin-top: 1.4rem;

	&.card-primary{
		background-color: $primary-color;
		color: #FFF;
		border: none;
		box-shadow: 0px 1rem 1.4rem rgba($primary-color, 0.1);
	}

	&.card-accent{
		background-color: $accent-color;
		color: #FFF;
		border: none;
		box-shadow: 0px 1rem 1.4rem rgba($accent-color, 0.1);
	}

	[class^="button-"].card-action{
		position: absolute;
		right: 2rem;

		font-size: 1.8rem;
		padding: 0px !important;
		margin: 0px;
		width: 3.6rem;
		height: 3.6rem;
		border-radius: 50% !important;

		i{
			padding: 0px !important;
			margin: 0px !important;
		}
	}
}

// BUTTONS
[class^="button-"] {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $border-color;
	border: none;
	font-weight: 700;
	height: 2.4rem;
	min-height: 2.4rem;

	border-radius: 1.2em;
	border: none;
	padding: 2px 1.6rem;
	line-height: 1rem;
	color: lighten($text-color, 20);
	text-decoration: none !important;
	transition: 0.3s;
	outline: none !important;

	&:focus{ 
		border-color: $primary-color;
		box-shadow: 0px 0.4rem 1rem rgba(0,0,0, 0.1), 0 0 0 0.2rem lighten($primary-color, 20);	
	}

	i{
		margin-right: 0.4rem;
	}

	&.only-icon{
		i{
			margin-right: 0 !important;
			line-height: 1em;
			margin: 0px;
		}	
	}

	&.rounded {
		padding: 0px !important;
		margin: 0px !important;
		width: 2.4rem;
		height: 2.4rem;
		border-radius: 50% !important;
	}

	&:hover{
		box-shadow: 0px 0.4rem 1rem rgba(0,0,0, 0.1);
	}

	&.block {
		width: 100%;
		flex: 1;
	}
}

.button-primary{
	background-color: $primary-color;
	color: #FFF;

	&:hover{
		background-color: lighten($primary-color, 10);
		box-shadow: 0px 0.4rem 1.4rem rgba($primary-color, 0.3);
		color: #FFF;
	}
}

.button-accent{
	background-color: $accent-color;
	color: #FFF;

	&:hover{
		background-color: lighten($accent-color, 10);
		box-shadow: 0px 0.4rem 1.4rem rgba($accent-color, 0.3);
		color: #FFF;
	}

	&:focus {
		box-shadow: 0px 0.4rem 1.4rem rgba($accent-color, 0.3), 0 0 0 0.2rem lighten($accent-color, 30);
	}
}

// SEPARATOR
.separator {
	display: block;
	margin: 1.8rem 0rem;
	width: 100%;
	height: 1px;
	max-width: 100px;
	background-color: lighten($border-color, 8);

	&.block {
		max-width: 100%;
	}
}

h3 + .separator, h4 + .separator {
	margin-top: 0rem;
}

// TABLES
.table-list{
	> thead {
		tr > th, tr > td{
			padding: 1rem 0.3rem;
			border-bottom: 1px dashed lighten($border-color, 10);
		}
	}

	> tbody {
		tr:first-child th, tr:first-child td {
			padding-top: 1rem;
		}

		tr > th, tr > td{
			padding: 0.4rem 0.3rem;
		}
	}
}

// GRID
.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 1rem;
	grid-auto-rows: minmax(100px, auto);
	grid-auto-flow: dense;
}