.sidebar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: green;

	width: 100%;
	max-width: 8.5rem;
	min-height: 100vh;

	background-color: $primary-color;

	ul {
		width: 100%;
		list-style: none;
		padding: 0px;
		margin: 0px;

		text-align: center;
		
		li {
			padding: 1.5em 0;
			opacity: 0.6;
			transition: 0.4s;

			&.active + .separator {
				width: 100% !important;
			}

			&.separator {
				width: 50px;
				height: 1px;
				padding: 0px;
				background-color: white;
				margin: 0px auto;
				display: block;
				opacity: 0.15;

				&:hover {
					opacity: 0.15 !important;
					padding: 0px !important;
				}
			}

			&.active {
				background-color: $accent-color;
				opacity: 1;
			}
			
			&:hover:not(.active) {
				opacity: 1;
				padding: 2.2rem 0px;
			}

			a{
				text-decoration: none !important;
				color: #FFF;

				i {
					display: block;
					color: #FFF;
					margin: 0px auto;
					padding: 0px;
					line-height: 1.1em;
	
					font-size: 1.75rem;
				}
	
				span {
					font-size: 0.85rem;
					color: #FFF;
					font-weight: 700;
				}

				&::after {
					background-color: $accent-color !important;
				}
			}
		}
	}
}

.sidebar-mask {
	display: none;
	transition: background-color 0.3s;
}

main {
	width: 100%;
	display: flex;
	flex-direction: column;

	.navbar{
		display: flex;
		flex-direction: row;
		width: 100%;
		height: 93px;
		padding: 0rem 2rem;

		justify-content: space-between;
		align-items: center;

		background-color: #FFF;
		border-bottom: 1px solid rgba($border-color, 0.75);
		box-shadow: 0px 0px 2rem rgba(0,0,0, 0.1);

		.logo i {
			display: none;
		}

		.nav-elements {
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: center;
			
			.search{
				background-color: $default-color;
				height: 2.4rem;
				width: 100%;
				max-width: 320px;
				display: flex;
				border-radius: 1.2rem;
				overflow: hidden;
				margin: 0px 1rem;

				> input[type="text"]{
					background-color: transparent !important;
					border: none;
					flex: 1;
					padding: 0px 1.2rem;
					font-weight: 700;

					&:hover, &:active, &:focus {
						outline: none;
					}
				}

				> button {
					i{ 
						margin-right: 0rem;
					}
				}
			}
		}

		.profile {
			display: flex;
			flex-direction: row;
			align-items: center;

			span{
				margin-right: 1.2rem;
				font-weight: 700;
				opacity: 0.9;
				text-align: right;

				small {
					display: block;
					color: $primary-color;
				}
			}
		}
	}

	> .content {
		flex: 1;
		overflow-y: auto;
		overflow-x: hidden;
	}
}