// COLORES
$primary-color: #4E00EF;
$accent-color: #EF00A5;
$default-color: #ECECEC;
$link-color: #007bff;

$text-color: #313131;
$background-color: #EDF3FE;
$border-color: #D6D6D6;

// FUENTES
$font-family: 'Museo Sans Rounded', Arial, Helvetica, sans-serif !important;
$font-size: 14px;

// TAMAÑOS
$avatar-size: 42px;
$feature-width: 1.8em;
$grid-gutter-width: 1.4rem;
$input-height: 2.4rem;